{% extends "base.html" %}
{% block content %}
<center>
<iframe width="420" height="315" src="https://www.youtube.com/embed/X-shy8hMwq0" frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen style="display: block;"></iframe>
</center>
<div>
  <center>
  <div style="display: inline-block;">
    <h1 class="w3-jumbo w3-animate-top">Covid Awareness in Cambodia</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <p class="w3-large w3-center">35 Case</p>
    <p class="w3-large w3-center">Cured: 10 people</p>
    <p class="w3-large w3-center">In-check: 25 people</p>
  </div>
  </center>
  <center>
    <button class="button button5"><a href='/symtoms-analysis/'>Check Your Symtoms</a></button>
    <button class="button button5"><a href='/hospital/'>Find Hospital</a></button>
  </center>
  <!-- text -->
  <div style="padding: 100px;">
    <div class="sf-accordion__trigger-panel">
      <a href="#" class="sf-accordion__link">
        Are there treatments for COVID-19?
      </a>
    </div>
    <div class="sf-accordion__content" style="display: block; opacity: 1;">
      <p class="sf-accordion__summary">
      </p>
      <p>Scientists around the world are working to find and develop treatments for COVID-19. </p>
      <p>Optimal supportive care includes oxygen for severely ill patients and those who are at risk for severe disease
        and more advanced respiratory support such as ventilation for patients who are critically ill. </p>
      <p>Dexamethasone is a corticosteroid that can help reduce the length of time on a ventilator and save lives of
        patients with severe and critical illness. <em>Read our </em><a
          href="/emergencies/diseases/novel-coronavirus-2019/question-and-answers-hub/q-a-detail/q-a-dexamethasone-and-covid-19"><em>dexamethasone
            Q&amp;A</em></a><em> for more information.</em> &nbsp;</p>
      <p>Results from the WHO’s Solidarity Trial <a
          href="/news/item/15-10-2020-solidarity-therapeutics-trial-produces-conclusive-evidence-on-the-effectiveness-of-repurposed-drugs-for-covid-19-in-record-time">indicated</a>
        that remdesivir, hydroxychloroquine, lopinavir/ritonavir and interferon regimens appear to have little or no
        effect on 28-day mortality or the in-hospital course of COVID-19 among hospitalized patients. </p>
      <p>Hydroxychloroquine has not been shown to offer any benefit for treatment of COVID-19. <em>Read our </em><a
          href="/emergencies/diseases/novel-coronavirus-2019/question-and-answers-hub/q-a-detail/q-a-hydroxychloroquine-and-covid-19"><em>hydroxychloroquine
            Q&amp;A</em></a><em> for more information. </em></p>
      <p>WHO does not recommend self-medication with any medicines, including antibiotics, as a prevention or cure for
        COVID-19. WHO is coordinating efforts to develop treatments for COVID-19 and will continue to provide new
        information as it becomes available.</p>
      <p></p>
    </div>
  </div>
</div>

{% endblock %}